.grid_listing img{width: 100%; height: 200px; object-fit: cover; object-position: center;}
.grid_listing .rounded_paper {border-radius: 8px; overflow: hidden; display: block;}

.search_div {background: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg') no-repeat center; background-size: cover; padding: 10em 0;}
.grid_listing {margin: 2rem 0;}