.preloader { 
    border: 8px solid #f3f3f3; 
    border-radius: 50%; 
    border-top-color: #444444; 
    width: 60px; 
    height: 60px; 
    animation: spin 1s linear infinite; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto;
} 

@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 